{% extends "navigo/base.html" %}
{% block title %}Job Postings{% endblock %}
{% block body %}
    <h1>Listings</h1>    
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="dashboard">Navigo</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Job Postings</h1>
                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-primary text-white mb-4">
                                <button><a href="admin/navigo/vehicle/add/">Add Listing</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-primary text-white mb-4">
                                <div class="card-body">Available</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <div class="small text-white">1</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-warning text-white mb-4">
                                <div class="card-body">Scheduled</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <div class="small text-white">1</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-success text-white mb-4">
                                <div class="card-body">Done</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <div class="small text-white">1</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-danger text-white mb-4">
                                <div class="card-body">Overdue</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <div class="small text-white">2</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>Listing</th>
                                        <th>Type</th>
                                        <th>Postal Code</th>
                                        <th>Status</th>
                                        <th>Schedule Date</th>
                                        <th>Total Pay</th>
                                        <th>Navigate</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Listing</th>
                                        <th>Type</th>
                                        <th>Postal Code</th>
                                        <th>Status</th>
                                        <th>Schedule Date</th>
                                        <th>Total Pay</th>
                                        <th>Navigate</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <td>Listing 1</td>
                                        <td>Listing Type 1</td>
                                        <td>M9K 2K0</td>
                                        <td>Available</td>
                                        <td>2011/04/25</td>
                                        <td>$250</td>
                                        <td><i class="fa-solid fa-location-dot"></i></td>
                                    </tr>
                                    <tr>
                                        <td>Listing 2</td>
                                        <td>Listing Type 2</td>
                                        <td>M9K 2K0</td>
                                        <td>Scheduled</td>
                                        <td>2011/04/25</td>
                                        <td>$150</td>
                                        <td><i class="fa-solid fa-location-dot"></i></td>
                                    </tr>
                                    <tr>
                                        <td>Listing 3</td>
                                        <td>Listing Type 3</td>
                                        <td>M9K 2K0</td>
                                        <td>Overdue</td>
                                        <td>2011/04/25</td>
                                        <td>$500</td>
                                        <td><i class="fa-solid fa-location-dot"></i></td>
                                    </tr>
                                    <tr>
                                        <td>Listing 4</td>
                                        <td>Listing Type 4</td>
                                        <td>M9K 2K0</td>
                                        <td>Overdue</td>
                                        <td>2011/04/25</td>
                                        <td>$1000</td>
                                        <td><i class="fa-solid fa-location-dot"></i></td>
                                    </tr>
                                    <tr>
                                        <td>Listing 5</td>
                                        <td>Listing Type 5</td>
                                        <td>M9K 2K0</td>
                                        <td>Done</td>
                                        <td>2011/04/25</td>
                                        <td>$1250</td>
                                        <td><i class="fa-solid fa-location-dot"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
{% endblock %}